main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons{
    display: flex;
    flex-direction: column;
}

button{
    margin: 0.5rem;
}

.result{
    border: 2px dotted black;

}