<button routerLink="pages">Pages</button>

<!-- <router-outlet></router-outlet>s -->

<main>
  <div class="buttons">
    <button routerLink="/buffer">Buffer</button>
    <button routerLink="/bufferwhen">BufferWhen</button>
    <button routerLink="/take">Take</button>
    <button routerLink="/skip">Skip</button>
    <button routerLink="/distinct">Distinct</button>
    <button routerLink="/audit">Audit</button>
    <button routerLink="/sample">Sample</button>
    <button routerLink="/throtle">Throttle</button>
    <button routerLink="/first">first</button>
    <button routerLink="/last">last</button>
    <button routerLink="/debounce">debounce</button>
  </div>
  <div class="result">
    <router-outlet></router-outlet>
  </div>
</main>